* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#000;
    --secondry-color: white;
}

.dark-mode{
    --primary-color:white;
    --secondry-color:#000;
}

#dark{
    width: 30px;
    cursor: pointer;
}


header {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10ps 200px;
    border-bottom: 5px solid goldenrod;
}





.menu a{
    color: goldenrod;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}

.menu li{
    display: inline-block;
}


.main{
    
    padding-top: 70px;
    direction: rtl;
    background-color: var(--secondry-color);
    background-position: center;
    background-attachment: fixed;
    line-height: 30px;
}

.main h1,h2,h3{
    border: 2px solid var(--primary-color);
    border-right: 7px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 1;
    padding: 10px;
    background-color: goldenrod;
    width: max-content;
}

.face{
    border: 5px solid goldenrod;
    margin-right: 250px;
    margin-top: 20px;
}

.first{
    color: var(--primary-color);
    width: 800px;
    margin-right: 250px;
    margin-top: 20px;
    font-size: 22px;
    padding: 15px;
}

.main span{
    color: red;
}

.parts li{
    
    list-style-type: none;
    display: inline-block;
    
    
}

.parts li a{
    text-decoration: none;
    color: goldenrod;
    width: 100%;
    
}


.imggallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    transition: 0.7s;
}
.imggallery:hover {
    border: 1px solid #777;
    transform: scale(1.1);
}

.imggallery img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
}

.desc {
    padding: 15px;
    text-align: center;
    background-color: black;
    
}


.sections ul{
    margin-left: 20px;
    
    margin-bottom: 100px;
}

label {
    margin-right: 10px;
    padding: 3px 3px 3px 3px;
    border: 2px solid goldenrod;
    background-color: #000;
    color: goldenrod;
    border-radius: 7px;
    height: 30px;
    font-weight: 600;

}

.sections li {
    width: 150px;
    list-style-type: none;
    display: inline-block;
}

button a {
    text-decoration: none;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* width: 400px;
    height: 30px; */
    font-weight: 600;
    font-size: 12px;
}

button a:hover {
    color: goldenrod;
}

button {
    text-decoration: none;
    margin-bottom: 20px;
    padding: 3px 3px;
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    transition: 0.7s;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background-color: black;

}

footer {
    border-top: 5px solid goldenrod;
    background-color: #000;
    color: white;
    padding: 2em;
    justify-content: space-between;
}



#copyright {
    color: goldenrod;
}

.fttitle {
    font-size: 1.3em;
    font-weight: 600;
    width: max-content;
    
}

footer p{
    margin-bottom: 20px;
    margin-top: 20px;
}

#yt {
    margin-right: 20px;
    width: 5px;
    height: 5px;
    color: red;
    border: white;
}


#fb {
    margin-right: 20px;
    width: 5px;
    height: 5px;
    color: blue;
}

#go {
    margin-right: 20px;
    width: 5px;
    height: 5px;
}

#wp {
    margin-right: 20px;
    width: 5px;
    height: 5px;
    color: green;
}

#in {
    margin-right: 20px;
    width: 5px;
    height: 5px;
    color: blueviolet;
}

.flinks li{
    list-style-type: none;
    display: inline-block;
}


.flinks{
    justify-content: space-between;
    
    
}




.fttitle span {
    color: goldenrod;
}