body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
  
.dark-mode {
  background-color: black;
  color: white;
}

.db{
  display: block;
  width: 20%;
  height: auto;
  float: left;
  margin-bottom: 10px;
  font-size: 25px;
}

.db:hover {
  background-color:black ; 
  color: white; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}